# Market Basket Analysis

Analisis Keranjang adalah teknik pemodelan yang didasarkan pada teori bahwa jika Anda membeli sekelompok barang tertentu, kemungkinan besar Anda (lebih atau kurang) akan membeli kelompok barang lain. Misalnya, jika Anda berada di sebuah super market dan membeli ikan, kemungkinan besar Anda akan membeli bumbu dan sayuran pelengkap ikan tersebut pada saat yang sama daripada seseorang yang tidak membeli ikan.

Kumpulan item yang dibeli pelanggan disebut sebagai set item, dan analisis keranjang berusaha menemukan hubungan antar pembelian.


Pada tutorial ini, kita akan membuat model aturan asosiasi dari data ritel online (https://www.kaggle.com/carrie1/ecommerce-data). Data adalah kumpulan data transaksi yang berisi semua transaksi yang terjadi antara 01/12/2010 dan 09/12/2011 untuk retail online non-toko terdaftar yang berbasis di Inggris. Perusahaan ini terutama menjual hadiah unik untuk semua kesempatan. Banyak pelanggan perusahaan adalah pedagang grosir. Data tersebut terdiri dari sejumlah variabel, seperti: InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, dan Country.


Analisis yang akan dilakukan dalam tutorial ini terdiri dari beberapa tahapan:

1. Import data
2. Pemrosesan Data
3. Modeling

In [ ]:
import pandas as pd

## 1 Import Data

In [ ]:
# Import dataset
df = pd.read_excel("https://github.com/rc-dbe/bigdatacertification/blob/master/dataset/Online%20Retail.xlsx?raw=true")
df

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [ ]:
# Prints the Dataset Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [ ]:
# Prints Descriptive Statistics
df.describe().transpose()

               count          mean          std  ...       50%       75%      max
Quantity    541909.0      9.552250   218.081158  ...      3.00     10.00  80995.0
UnitPrice   541909.0      4.611114    96.759853  ...      2.08      4.13  38970.0
CustomerID  406829.0  15287.690570  1713.600303  ...  15152.00  16791.00  18287.0

[3 rows x 8 columns]

## 2 Pemrosesan Data

In [ ]:
# Remove Additional Spaces
df['Description'] = df['Description'].str.strip()

# Remove Missing Values
df.dropna(axis=0, subset=['InvoiceNo'], inplace=True)

# Remove Cancelled Orders
df['InvoiceNo'] = df['InvoiceNo'].astype('str')
df = df[~df['InvoiceNo'].str.contains('C')]
df

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
...          ...       ...  ...        ...             ...
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[532621 rows x 8 columns]

In [ ]:
# Create Encode Function
def encode_units(x):
    if x <= 0:
        return 0
    if x >= 1:
        return 1

def create_basket(df, country_filter):
    basket = (df[df['Country'] == country_filter]
          .groupby(['InvoiceNo', 'Description'])['Quantity']
          .sum().unstack().reset_index().fillna(0)
          .set_index('InvoiceNo'))
    return basket

In [ ]:
# Select Retail Data by Country : France
country_filter = 'France'
basket_french = create_basket(df, 'France')
basket_sets = basket_french.applymap(encode_units)
basket_sets.drop('POSTAGE', inplace=True, axis=1)
basket_sets

Description  10 COLOUR SPACEBOY PEN  ...  ZINC T-LIGHT HOLDER STARS SMALL
InvoiceNo                            ...
536370                            0  ...                                0
536852                            0  ...                                0
536974                            0  ...                                0
537065                            0  ...                                0
537463                            0  ...                                0
...                             ...  ...                              ...
580986                            0  ...                                0
581001                            0  ...                                0
581171                            0  ...                                0
581279                            0  ...                                0
581587                            0  ...                                0

[392 rows x 1562 columns]

## 3 Modeling

In [ ]:
# Import Apriori Module
from mlxtend.frequent_patterns import apriori

# Search for Frequent Itemsets
frequent_itemsets = apriori(basket_sets, min_support=0.05, use_colnames=True)
frequent_itemsets

      support                                           itemsets
0    0.071429                      (4 TRADITIONAL SPINNING TOPS)
1    0.096939                       (ALARM CLOCK BAKELIKE GREEN)
2    0.102041                        (ALARM CLOCK BAKELIKE PINK)
3    0.094388                         (ALARM CLOCK BAKELIKE RED)
4    0.068878                       (ASSORTED COLOUR MINI CASES)
..        ...                                                ...
108  0.102041  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...
109  0.122449  (SET/6 RED SPOTTY PAPER CUPS, SET/6 RED SPOTTY...
110  0.063776  (ALARM CLOCK BAKELIKE GREEN, ALARM CLOCK BAKEL...
111  0.068878  (PLASTERS IN TIN WOODLAND ANIMALS, PLASTERS IN...
112  0.099490  (SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...

[113 rows x 2 columns]

In [ ]:
# Import Association Rules Module
from mlxtend.frequent_patterns import association_rules

# Generate Rules
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1.2)
rules.head()

                    antecedents  ... conviction
0  (ALARM CLOCK BAKELIKE GREEN)  ...   3.791383
1   (ALARM CLOCK BAKELIKE PINK)  ...   3.283859
2  (ALARM CLOCK BAKELIKE GREEN)  ...   4.916181
3    (ALARM CLOCK BAKELIKE RED)  ...   5.568878
4    (ALARM CLOCK BAKELIKE RED)  ...   4.153061

[5 rows x 9 columns]

In [ ]:
# Sorting the Rules by Confidence
rules.sort_values(['confidence'], axis=0, 
                 ascending=False, inplace=True) 
rules

                                          antecedents  ... conviction
82  (SET/20 RED RETROSPOT PAPER NAPKINS, SET/6 RED...  ...  34.489796
80  (SET/6 RED SPOTTY PAPER CUPS, SET/20 RED RETRO...  ...  34.897959
67                    (SET/6 RED SPOTTY PAPER PLATES)  ...  21.556122
9                        (CHILDRENS CUTLERY SPACEBOY)  ...  12.535714
39                     (PACK OF 6 SKULL PAPER PLATES)  ...  10.298469
..                                                ...  ...        ...
49                    (PLASTERS IN TIN CIRCUS PARADE)  ...   1.174911
55                    (RED TOADSTOOL LED NIGHT LIGHT)  ...   1.177296
57                    (RED TOADSTOOL LED NIGHT LIGHT)  ...   1.151939
56                               (RABBIT NIGHT LIGHT)  ...   1.143338
48                    (RED TOADSTOOL LED NIGHT LIGHT)  ...   1.157763

[86 rows x 9 columns]